<nav class="navbar navbar-expand bg-primary navbar-dark">
  <div class="navbar-brand">
    <%= link_to "FASHION-ONE", root_path, id: "logo" %>
  </div>
  <div class="navbar-nav">
    <%= link_to "メニュー1", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー2", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー3", root_path, class: "nav-item nav-link text-white" %>
  </div>
</nav>


<!-- 
<%= link_to "1", root_path %>
<%= link_to "2", root_path %>
<%= link_to "3", root_path %>

<a class="nav-item nav-link" href="#">メニュー１</a>
<a class="nav-item nav-link" href="#">メニュー２</a>
<a class="nav-item nav-link" href="#">メニュー３</a>

<%= link_to "1", root_path, class: "dropdown-item" %>
<%= link_to "2", root_path, class: "dropdown-item" %>


<div class="collapse navbar-collapse" id="navbarNav">
  <div class="navbar-nav">
    <%= link_to "メニュー1", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー2", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー3", root_path, class: "nav-item nav-link text-white" %>
  </div>
</div>



<nav class="navbar navbar-expand-md pg-primary navbar-dark">
  <%= link_to "FASHION-ONE", root_path, id: "logo" %>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <%= link_to "メニュー1", root_path, class: "dropdown-item text-white" %>
      <%= link_to "メニュー2", root_path, class: "dropdown-item text-white" %>
      <%= link_to "メニュー3", root_path, class: "dropdown-item text-white" %>
    </div>
  </div>
</nav>

-->
